@import "tailwindcss";

body {
  @apply bg-black text-white;
}

@layer utilities {
  @keyframes fadeInScale {
    from {
      transform: scale(0.95);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }

  .animate-fade-in-scale {
    animation: fadeInScale 0.3s ease-out forwards;
  }

  .no-select {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

img.emoji {
  display: inline-block;
  height: 1.3em;
  width: 1.3em;
  margin: 0 0.05em 0 0.1em;
  vertical-align: -0.25em;
}
